name: flutter_project
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.1

  localstore: ^1.3.5
  path_provider: ^2.1.1

  uuid: ^4.2.2
  intl: ^0.19.0

  fl_chart: ^0.66.0

  flutter_svg: ^2.0.9

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
